:root {
    --background: #F4F4F9;
    --text: #071E22;
    --header: #3c3e3f;
}

body {
    color: var(--text);
    margin: 0;
    font-family: "Lato", sans-serif;
    font-size: 20px;
}

body a {
    color: #3da7dd;
}

.container {
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: 100px calc(100vh - 100px);
    margin: 0;
}

.logo {
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    background-color: var(--header);
    align-content: center;
    text-align: center;
}

.title {
    background-color: var(--header);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    align-content: center;
    font-size: 50px;
    font-family: "Jost", sans-serif;
    padding-left: 50px;
    color: #F4F4F9;
}

.sidebar {
    display: flex;
    flex-direction: column;
    border: 1px solid #000000;
}

.sidebar div {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    font-size: 20px;
    text-align: center;
    height: 25%;
    align-content: center;
}

.content {
    border: 1px solid #000000;
    grid-column: 1 / span 3;
    overflow-y: auto;
    min-height: 0; 
    padding-left: 40px;
    padding-right: 80px;
    background-color: var(--background);
}

.content h1 {
    font-family: "Jost", sans-serif;
}

.content h2 {
    font-family: "Jost", sans-serif;
}

.content h3 {
    font-family: "Jost", sans-serif;
}

.content img {
    box-shadow: 5px 5px 15px #00000080;
}

.content video {
    box-shadow: 5px 5px 15px #00000080;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10vw;
    padding-right: 10vw;
}

.link {
    position: relative;
    border-radius: 10px;
    border: 1px solid #000000;
    margin: 10px;
    text-align: center;
    align-content: center;
    height: 200px;
    font-size: 50px;
    font-family: "Jost", sans-serif;
    text-shadow: 0 0 10px #000000; 
}

.link img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.link:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.link:not(:hover) {
    transition: transform 0.3s ease-in-out;
}

.link div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F4F4F9;
}

.nav {
    text-align: right;
    align-content: center;
    font-family: "Jost", sans-serif;
    font-size: 20px;
    background-color: var(--header);
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;
}

.flex {
    flex: 0 0 200px;
    display: inline-flex;
    margin-right: 10px;
}

.flex div {
    background-color: var(--background);
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.flex div a {
    color: var(--text);
    text-decoration: none;
}

.flex div:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
    background-color: #f4f4f9b9;
}

.flex div:not(:hover) {
    transition: transform 0.3s ease-in-out;
}

.button {
    display: inline-block;
    padding-right: 30px;
    transform: translateY(10px);
}

.button:hover {
    opacity: 0.73;
}