.container {
    display: grid;
    grid-template-columns: 10% 90%;
    font-size: 30px;
    text-align: center;
}

.logo {
    border: 1px solid #000000;
    padding: 30px;
    text-align: center;
    align-content: center;
}